/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

#favorate-form{
  position: absolute;
  top: 5rem;
  right: 5rem;
  border: 1px solid black;
  padding: 10px;
  background-color: #f6f6ef;
}
#favorate-form h2
{
  text-align: center;
}
#favorate-form button {
  position: relative;
  left: 2rem;
  width: 5rem;
}
/* #delete-form {
  position: absolute;
  top: 5rem;
  right: 5rem
} */
